{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Main Page</title>
    <link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src = "https://kit.fontawesome.com/fb4a438a29.js" crossorigin="anonymous"></script>
   
    <link rel="stylesheet" type="text/css" href="/static/budget_app/css/style-main.css?{% now " u"="" %}"="" />
  </head>

  <body>
    <div>
    <ul style="text-align: center; padding-top: 20px;" class="list2">
      <li>
        <i class="fa fa-wallet"></i>
        <h5 class="active" style="text-align: center;"><a style="color: whitesmoke;" href='{% url "add_item" %}'>Add Transaction</a></h5>
      </li>
      <li>
        <i class="fa fa-coins"></i>
        <h5 style="text-align: center;">Budget</h5>
      </li>
      <li>
        <i class="fa fa-chart-line"></i>
        <h5 style="text-align: center;">Reports</h5>
      </li>
      <li>
        <i class="fa fa-piggy-bank"></i>
        <h5 style="text-align: center;">Savings</h5>
      </li>
    </ul>
  </div>

  <div style="height: 90px;">
      <nav class="navbar navbar-expand-sm navbar-dark fixed-top"
      style="
      background: white;
      margin-left: 185px;
      padding-top: 18px;
      z-index: -1;
      border-bottom: 1px solid black;">
        <h1  class="btn btn-neutral1 btn-round1 btn-lg1"><a  style="color: white;" href="#">e-Expenses</h1></a>
        <ul class="navbar-nav ml-auto list1" style="font-size: 17px; letter-spacing: 0.6px; ">
            <li class="nav-item"><a class="nav-link" style="color: black;" href="#">Home</a></li>
            <!-- <li class="nav-item"><a class="nav-link" style="color: black;" href="add_transaction">Add Transactions</a></li> -->
            <li class="nav-item"><a class="nav-link" style="color: black;" href="logout">Logout</a></li>
        </ul>
      </nav>
  </div>


  </body>
</html>
